@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "PlayFair Display", serif;
}

@tailwind base;
@tailwindm components;
@tailwind utilities;